#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}

.menu-options {
  display: flex;
}

.menu-option {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.title {
  text-decoration: none;
  user-select: none;
}

.alert-message {
  
}